<% javascript_include_tag '/assets/javascripts/ProcoreIframeHelpers.js' %>

<script>

  const context = procoreIframeHelpers.initialize();

  // Call notifySuccess to close the login panel. An optional payload to be passed to your
  // onSuccess handler can be included with the notifySuccess method...
  context.authentication.notifySuccess({})

</script>

<%= render 'layouts/nav_header' %>

<div class="core-empty-state">
  <div class="core-empty-state__image"><img src="assets/empty_state.png" /></div>
  <div class="core-empty-state__title">Origin Data Viewer</div>
  <div class="core-empty-state__description core-sm-bold--secondary">Please click one of the tools above to display data.</div>
</div>
