<script type="text/javascript" src="/libraries/ProcoreIframeHelpers.js"></script>

<script>

  const context = procoreIframeHelpers.initialize();

  // Call notifySuccess to close the login panel. An optional payload to be passed to your
  // onSuccess handler can be included with the notifySuccess method...
  context.authentication.notifySuccess({})

</script>

<div>
  Welcome to the index page
</div>

