<% javascript_include_tag '/assets/javascripts/ProcoreIframeHelpers.js' %>

<script>

  const context = procoreIframeHelpers.initialize();

  // Call notifySuccess to close the login panel. An optional payload to be passed to your
  // onSuccess handler can be included with the notifySuccess method...
  context.authentication.notifySuccess({})

</script>

<div>
  Welcome to the index page
  <%= link_to "Work Order Contracts", work_order_contracts_path %>
  <%= link_to "Purchase Order Contracts", purchase_order_contracts_path %>
</div>
